---
import Layout from "@/layouts/Layout.astro";
import { getPlayers } from "@/utils/streamer-wars";
import { LucideArrowUpRight } from "lucide-preact";

const players = await getPlayers().then((res) => res.slice(0, 51));
---

<Layout
  title="Eventos"
  description="¡Participa en nuestros eventos y gana premios increíbles!"
>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <header class="relative z-10 flex flex-col justify-center mb-12">
      <div class="flex items-center gap-x-4">
        <div class="flex flex-col justify-center gap-y-1">
          <h1
            class="flex w-max text-3xl transform px-2 animate-fade-in-up animate-delay-150 font-rubik tracking-wider uppercase font-bold text-black mix-blend-screen bg-blue-400 !skew-x-[-20deg]"
          >
            <span class="flex !skew-x-[20deg] transform"> Eventos </span>
          </h1>
        </div>
      </div>
    </header>
    <div class="flex flex-col w-full justify-center items-center gap-4">
      <h3
        class="with-glyph flex relative w-max text-3xl transform px-2 font-atomic tracking-wider font-bold text-[#b4cd02] mix-blend-screen !skew-x-[-20deg] -rotate-6"
      >
        <span class="flex !skew-x-[20deg] transform">
          Guerra de Streamers
        </span>
      </h3>

      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 mt-8"
      >
        {
          players.map((player) => (
            <div class="flex flex-col items-center gap-2">
              <img
                src={player.user?.avatar}
                alt={player.user?.displayName}
                class="size-48 object-cover mask2"
                draggable="false"
              />

              <a
                class="text-center group font-bold text-2xl hover:text-pink-500 transition text-white font-squids tracking-wide"
                href={`https://www.twitch.tv/${player.user?.displayName!}`}
                target="_blank"
                rel="noopener noreferrer"
                title={`Ver el canal de ${player.user?.displayName} en Twitch`}
              >
                {player.user?.displayName.trim()}
                <LucideArrowUpRight
                  size="24"
                  class="inline-block group-hover:translate-x-1 group-hover:-translate-y-2 transition"
                />
              </a>

              <h3 class="text-center font-bold text-xl text-lime-400 font-atomic tracking-wider">
                #{player.playerNumber.toString().padStart(3, "0")}{" "}
              </h3>
            </div>
          ))
        }
      </div>

      <div
        class="flex flex-col justify-center items-center mt-4 gap-2 mask bg-[#b4cd02] w-full"
      >
        <p class="text-center max-w-[56ch] px-8 pt-4 pb-8 text-black">
          ¿Estás listo para la batalla?<br />¡Participa en nuestra <strong
            >Guerra de Streamers</strong
          > y demuestra tus habilidades en el campo de batalla!
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  h3.with-glyph:after {
    content: "a";
    @apply !font-atomic-extras text-[80px] mt-8 absolute inset-x-0 text-center;
    z-index: -1;
  }

  @font-face {
    font-family: "Game Of Squids";
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src:
      url("/fonts/game-of-squids.woff2") format("woff2"),
      format("woff2");
  }

  .mask {
    -webkit-mask-composite: source-in;
    mask-image: url(/images/mask.webp);
    mask-position: 50%;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-clip: content-box;
    mask-origin: content-box;
    mask-composite: source-in;
    mask-mode: alpha;
  }

  .mask2 {
    -webkit-mask-composite: source-in;
    mask-image: url(/images/mask-wars-votacion.webp);
    mask-position: 50%;
    mask-size: cover;
    mask-repeat: no-repeat;
    mask-clip: content-box;
    mask-origin: content-box;
    mask-composite: source-in;
    mask-mode: alpha;
  }
</style>
