---
import PageBreadcrumb from "@/components/PageBreadcrumb.astro";
import Twitch from "@/icons/Twitch.astro";
import Layout from "@/layouts/Layout.astro";
import { getPaginatedEvents } from "@/lib/events";
import { LucideCalendar, LucideClock, LucideUsers } from "lucide-preact";
import { DateTime } from "luxon";
import { EventCard } from "@/components/EventCard.tsx";

const { events } = await getPaginatedEvents(1, 10);
const firstFeaturedEvent = events.find((event) => event.featured);
---

<Layout
  title="Eventos"
  description="Participa en nuestros eventos exclusivos y conéctate con la comunidad"
>
  <div class="flex flex-col max-w-7xl mx-auto min-h-screen mt-16 px-4 sm:px-6">
    <header class="mb-8">
      <PageBreadcrumb
        breadcrumbs={[{ text: "Eventos", href: "/eventos" }]}
        pathname="/eventos"
      />
      <h1 class="text-3xl font-rubik font-medium tracking-tight">
        Eventos de la Comunidad
      </h1>
      <p class="text-neutral-500 mt-1">
        Participa en nuestros eventos exclusivos y conéctate con la comunidad
      </p>
    </header>

    <div class="grid gap-6 md:grid-cols-2 lg:grid-cols-3">
      {
        firstFeaturedEvent && (
          <EventCard
            event={firstFeaturedEvent}
            firstFeaturedEvent={true}
            client:idle
          />
        )
      }

      <!--
        Resto de eventos, excluyendo el primero destacado
      -->
      {
        events &&
          events.length > 0 &&
          events
            .filter((event) => event.id !== firstFeaturedEvent?.id)
            .map((event) => <EventCard event={event} client:idle />)
      }
    </div>
  </div>
</Layout>
