---
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
---
<Layout
  hideHeader
  title={session ? "Iniciando sesi贸n..." : "Error al iniciar sesi贸n"}
  description="Iniciando sesi贸n en Twitch..."
  hideFooter>
  <main class="flex min-h-screen items-center justify-center text-center">
    {session ? "Ingresando..." : "No se ha podido iniciar sesi贸n"}
  </main>
</Layout>

{
  session !== null && (
    <script>
      if(window.opener) {
      window.close(); 
      window.opener.location.reload()
      } else {
      location.href = "/";
      }
      </script>
  )
}
