---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="ACRECONRE">
  <p>Página de ACRECONRE en construcción.</p>

  <img
    src="/images/acreconre/acreconre_logo_full.webp"
    draggable="false"
    alt="ACRECONRE Banner"
    class="mt-4 mx-auto w-full max-w-lg"
  />
</Layout>
