---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="ACRECONRE - SaltoUruguayServer">
  <p>Página de ACRECONRE en construcción.</p>

  <img
    src="/images/acreconre/acreconre_logo.webp"
    alt="ACRECONRE Banner"
    class="mt-4 w-full max-w-2xl rounded-lg shadow-lg"
  />
</Layout>
