---
import AdminPageHeader from "@/components/admin/AdminPageHeader.astro";
import AcreconreMembersManager from "@/components/admin/AcreconreMembersManager";
import AdminLayout from "@/layouts/AdminLayout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (!session?.user.isAdmin) {
  return new Response(null, {
    status: 404,
  });
}
---

<AdminLayout title="Miembros ACRECONRE" session={session}>
  <div class="flex flex-col max-w-6xl mx-auto min-h-screen mt-16 px-4">
    <AdminPageHeader
      title="Miembros ACRECONRE"
      pathname="/admin/acreconre/miembros"
    />
    <AcreconreMembersManager client:load />
  </div>
</AdminLayout>
