---
import LaunchCountdown from "@/components/LaunchCountdown";
import Layout from "../layouts/Layout.astro";
import { VOTES_OPEN_TIMESTAMP } from "@/config";
import Sponsors from "@/sections/Sponsors.astro";
import LiveStream from "@/components/LiveStream.astro";
import VoteCallToAction from "@/components/VoteCallToAction.astro";
import NewsOnPage from "@/sections/NewsOnPage.astro";

const IS_VOTING_OPEN = Date.now() > VOTES_OPEN_TIMESTAMP;

const IS_PROD = import.meta.env.PROD;

export const prerender = true;
---

<Layout
  title="Comunidad SaltoUruguayServer"
  description="Te damos la bienvenida a la comunidad del canal de SaltoUruguayServer en Twitch. ¡Las votaciones para los #SaltoAwards2024 abrirán muy pronto!"
>
  {!IS_PROD && <VoteCallToAction server:defer />}
  {
    !IS_VOTING_OPEN && (
      <div class=" flex flex-col py-16 items-center h-full">
        <header class="flex items-center justify-center max-w-md w-full gap-x-14 gap-y-6 flex-col md:flex-row">
          <div class="relative">
            <img
              src="/images/logo_salto.webp"
              alt="SaltoUruguayServer"
              draggable="false"
              class="h-24 sm:h-32 md:h-40 lg:h-48 xl:h-56 w-auto object-contain aspect-square"
            />
            <img
              src="/images/logo_salto.webp"
              alt="SaltoUruguayServer"
              draggable="false"
              class="absolute blur-md transform scale-110 saturate-150 z-[-1] top-0 left-0 h-24 sm:h-32 md:h-40 lg:h-48 xl:h-56 w-auto object-contain aspect-square"
            />
          </div>
          <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-anton text-balance flex-wrap">
            SALTO URUGUAY SERVER
          </h1>
        </header>

        <p class="font-rubik uppercase text-lg text-center mt-8">
          ¡Las votaciones para{" "}
          <span class="font-bold text-yellow-500">#SaltoAwards2024 </span>
          abrirán muy pronto!
        </p>
        <LaunchCountdown timestamp={VOTES_OPEN_TIMESTAMP} client:idle />
      </div>
    )
  }

  <LiveStream server:defer />

  <NewsOnPage />

  <Sponsors />
</Layout>

<script>
  import { toast } from "sonner";

  document.addEventListener("astro:page-load", () => {
    const params = new URLSearchParams(window.location.search);

    if (Boolean(params.get("discordLinked"))) {
      toast.success("¡Tu cuenta de Discord ha sido vinculada correctamente!");
    }
  });
</script>
