---
import LaunchCountdown from "@/components/LaunchCountdown";
import Layout from "../layouts/Layout.astro";
import { EVENT_TIMESTAMP, IS_VOTES_OPEN, VOTES_OPEN_TIMESTAMP } from "@/config";
import Sponsors from "@/sections/Sponsors.astro";
import LiveStream from "@/components/LiveStream.astro";
import VoteCallToAction from "@/components/VoteCallToAction.astro";
import NewsOnPage from "@/sections/NewsOnPage.astro";
import UpcomingCompetitions from "@/sections/UpcomingCompetitions.astro";
import { FeaturedNews } from "@/components/FeaturedNews";

const IS_PROD = import.meta.env.PROD;

const SHOW_AWARDS_COUNTDOWN = false;

export const prerender = true;
---

<Layout
  title="Comunidad SaltoUruguayServer"
  description="Te damos la bienvenida a la comunidad del canal de SaltoUruguayServer en Twitch. ¡Los #SaltoAwards2024 será un evento inolvidable!"
>
  <!--VoteCallToAction server:defer /-->

  {
    SHOW_AWARDS_COUNTDOWN && (
      <div class=" flex flex-col py-16 items-center h-full">
        <header class="flex items-center justify-center max-w-md w-full gap-x-14 gap-y-6 flex-col md:flex-row">
          <div class="relative">
            <img
              src="/images/logo_salto.webp"
              alt="SaltoUruguayServer"
              draggable="false"
              class="h-24 sm:h-32 md:h-40 lg:h-48 xl:h-56 w-auto object-contain aspect-square"
            />
            <img
              src="/images/logo_salto.webp"
              alt="SaltoUruguayServer"
              draggable="false"
              class="absolute blur-md transform scale-110 saturate-150 z-[-1] top-0 left-0 h-24 sm:h-32 md:h-40 lg:h-48 xl:h-56 w-auto object-contain aspect-square"
            />
          </div>
          <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-anton text-balance flex-wrap">
            SALTO URUGUAY SERVER
          </h1>
        </header>

        <p class="font-rubik uppercase text-lg text-center mt-8">
          ¡Los
          <span class="font-bold text-yellow-500">#SaltoAwards2024 </span>
          será un evento inolvidable!
        </p>
        <LaunchCountdown timestamp={EVENT_TIMESTAMP} client:idle />
      </div>
    )
  }

  <LiveStream server:defer />

  <FeaturedNews client:visible={{ rootMargin: "120px" }} />

  <!--   <UpcomingCompetitions server:defer />
 -->
  <NewsOnPage />

  <Sponsors />
</Layout>

<script>
  import { toast } from "sonner";

  document.addEventListener("astro:page-load", () => {
    const params = new URLSearchParams(window.location.search);

    if (Boolean(params.get("discordLinked"))) {
      toast.success("¡Tu cuenta de Discord ha sido vinculada correctamente!");
    }

    const error = params.get("error");

    if (error) {
      switch (error) {
        case "AccessDenied":
          toast.warning("Ocurrió un error al Iniciar sesión.", {
            richColors: true,
            description: "Verifica que tu email de Twitch esté verificado",
          });
          break;
      }
    }

    /*     let userHasBeenActive = false;

    const handleUserActivation = async () => {
      if (userHasBeenActive) return;

      userHasBeenActive = true; // Evitar múltiples activaciones
      try {
        const response = await fetch("/api/cinematics?name=liga-fortnite");
        if (!response.ok) throw new Error("Error al cargar la cinemática");
        console.log("Cinemática cargada exitosamente");
      } catch (error) {}
    };

    window.addEventListener("click", handleUserActivation, { once: true });
    window.addEventListener("keydown", handleUserActivation, { once: true }); */
  });
</script>
