---
import Layout from "@/layouts/Layout.astro";
import MobileConversationList from "@/components/saltogram/direct/MobileConversationList";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/");
---

<Layout title="Mensajes Directos" hideFooter={true}>
  <div class="max-w-md mx-auto h-[calc(100vh-64px)] bg-white dark:bg-zinc-900">
    <MobileConversationList client:load />
  </div>
</Layout>
