---
import { SOCIAL_NETWORKS } from "@/consts/SocialNetworks";
import DiscordIcon from "@/icons/Discord.astro";

const DISCORD_WIDGET_URL =
  "https://discordapp.com/api/guilds/700185692826763264/widget.json";

let presenceCount = 0;

try {
  const response = await fetch(DISCORD_WIDGET_URL);

  if (!response.ok) {
    throw new Error(`Failed to fetch Discord widget: ${response.statusText}`);
  }

  const { presence_count } = (await response.json()) as {
    presence_count: number;
  };
  presenceCount = presence_count;
} catch (error) {
  // Do nothing, can be a 429 error
}
---

<div class="items-center gap-2 group hidden md:flex">
  <a
    class="items-center gap-2 group hidden md:flex"
    title={`Usuarios en línea: ${presenceCount}`}
    href={SOCIAL_NETWORKS.find((network) => network.name === "Discord")?.url}
    target="_blank"
    rel="noopener noreferrer"
  >
    <div
      class="flex items-center gap-1 relative group-hover:scale-110 transform transition"
    >
      <DiscordIcon class="size-6" />
      <span class="absolute p-1 rounded-full -right-1 -top-1 bg-green-500"
      ></span>
    </div>
  </a>

  {
    presenceCount > 0 ? (
      <span class="bg-zinc-500 text-zinc-100 font-rubik text-[10px] font-semibold rounded-full px-1">
        {presenceCount}
      </span>
    ) : null
  }
</div>
