---
import { SALTO_BROADCASTER_ID } from "@/config";
import { getLiveStream } from "@/utils/twitch-runtime";
import TwitchEmbed from "./TwitchEmbed.astro";

const stream = await getLiveStream(SALTO_BROADCASTER_ID);

const PREVIEW = stream?.getThumbnailUrl(1280, 720);
---

{
  stream && (
    <section
      id="live-stream"
      class="max-w-5xl mx-auto flex flex-col items-center justify-center mb-24"
    >
      <p class="font-rubik uppercase text-lg text-center mb-8">
        Mirá la transmisión en vivo de{" "}
        <span class="font-bold text-yellow-500">SaltoUruguayServer</span>
      </p>
      <TwitchEmbed
        channelId={SALTO_BROADCASTER_ID}
        username={stream.userName}
        placeholder={PREVIEW || ""}
        data-title={stream.title}
      />
    </section>
  )
}
