---
import { NOMINEES } from "@/awards/Nominees";
import { getLiveStreams } from "@/utils/twitch-runtime";
import TwitchEmbed from "./TwitchEmbed.astro";

const { data: liveNow } = await getLiveStreams(
  Object.values(NOMINEES).map((nominee) => nominee.username)
);
---

{
  liveNow.length > 0 && (
    <section id="live-now" class="max-w-5xl mx-auto flex flex-col mb-8">
      <p class="text-xl font-bold text-white">
        ¡Estos nominados están en vivo ahora!
      </p>

      <ul class="flex flex-col list-disc prose prose-invert  gap-2">
        {liveNow.map((stream) => (
          <a href={`https://twitch.tv/${stream.userName}`} target="_blank">
            {stream.userDisplayName}
          </a>
        ))}
      </ul>
    </section>
  )
}
