---
import TwitchProcessedEvents from "@/components/admin/TwitchProcessedEvents";
import AdminLayout from "@/layouts/AdminLayout.astro";
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);

if (!session?.user.isAdmin) {
  return new Response(null, {
    status: 404,
  });
}
---

<AdminLayout title="Eventos de Twitch" session={session}>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <div class="bg-red-500/20 p-4 rounded-lg mb-4">
      <p class="text-red-300 text-sm">
        Esta información es solo con <strong>fines de depuración</strong>, y
        puede contener información sensible. No la compartas con nadie.
      </p>
    </div>
    <TwitchProcessedEvents client:idle />
  </div>
</AdminLayout>
