---
import LaunchCountdown from "@/components/LaunchCountdown";
import { VOTES_OPEN_TIMESTAMP } from "@/config";
---

<section id="intro-saltoawards" class="h-[400vh] relative">
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center font-bold text-center"
  >
    <div class="step" id="step-1">
      <h3
        class="flex justify-center items-center w-full flex-col gap-8 font-teko"
      >
        <div class="relative">
          <img
            src="/images/trofeo-awards.webp"
            class="h-48"
            alt="Salto Awards"
          />
          <img
            src="/images/trofeo-awards.webp"
            class="h-48 absolute z-[-1] blur-xl saturate-150 inset-0"
            alt="Salto Awards"
          />
        </div>
        <footer class="flex gap-x-2">
          <div class="relative text-4xl">
            <span class="relative z-10 animate-salto">Salto</span>
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-purple-500 to-pink-500 blur-xl opacity-40"
            >
            </div>
          </div>
          <div class="relative text-4xl">
            <span class="relative z-10 animate-awards">Awards</span>
            <div
              class="absolute top-0 left-0 w-full h-full bg-gradient-to-r from-purple-500 to-pink-500 blur-xl opacity-40"
            >
            </div>
          </div>
        </footer>
      </h3>
      <p
        class="font-rubik uppercase text-lg text-center font-normal transform translate-y-[100%] tracking-wider opacity-0"
      >
        Premios a la comunidad de <span
          class="font-bold text-yellow-500 !inline">Salto Uruguay Server</span
        >
      </p>
    </div>
    <div class="step" id="step-2">
      <h3 class="overflow-hidden flex flex-col gap-y-1">
        <span class="text-3xl"> ¿Listo para votar por tus favoritos? </span>
        <span class="text-xl"> ¡No falta casi nada! </span>

        <LaunchCountdown
          client:idle
          eventName="SaltoAwards2025"
          timestamp={VOTES_OPEN_TIMESTAMP}
          id={"intro-awards-countdown"}
        />
      </h3>
    </div>
  </div>

  <script>
    import { $ } from "@/lib/dom-selector";
    import { animate, scroll } from "motion";
    const animations = animate([
      // Animación para "Salto"
      [
        "#step-1 .animate-salto",
        { transform: "translateY(0%)" },
        { duration: 0.1 },
      ],
      // Animación para "Awards"
      [
        "#step-1 .animate-awards",
        { transform: "translateY(0%)" },
        { duration: 0.1, at: 0.11 },
      ],
      [
        "#step-1 p",
        { transform: "translateY(0%)", opacity: 1 },
        { duration: 0.1, at: 0.13 },
      ],
      // Transición de step-1 a step-2
      ["#step-1", { opacity: 0 }, { duration: 0.1, at: 0.3 }],
      ["#step-2", { opacity: 1 }, { duration: 0.1, at: 0.32 }],
      [
        "#step-2 h3 span:first-child",
        { transform: "translateY(0%)" },
        { duration: 0.2, at: 0.31 },
      ],
      [
        "#step-2 h3 span:nth-child(2)",
        { transform: "translateY(0%)" },
        { duration: 0.3, at: 0.33 },
      ],
      [
        "#step-2 h3 #intro-awards-countdown",
        { transform: "translateY(0%)" },
        { duration: 0.3, at: 0.5 },
      ],
      ["#step-2", { opacity: 0 }, { duration: 0.1, at: 0.7 }],
    ]);

    document.addEventListener("astro:page-load", () => {
      scroll(animations, {
        target: $("#intro-saltoawards") as HTMLElement,
        offset: ["-400px", "end end"],
      });

      scroll(
        (progress, info) => {
          console.log({ progress });
        },
        {
          target: $("#intro-saltoawards") as HTMLElement,
          offset: ["-400px", "end end"],
        }
      );
    });
  </script>
</section>

<style>
  .step {
    opacity: 0;
    position: absolute;
  }

  span {
    @apply inline-block;
  }

  #step-1 {
    opacity: 1;
  }

  #step-1 h3 {
    font-size: 4.5rem;
    line-height: 1;
  }

  #step-1 h3 {
    line-height: 2;
  }

  #step-1 span {
    transform: translateY(100%);
  }

  @media (min-width: 768px) {
    #step-1 h3 {
      font-size: 8rem;
      line-height: 2;
    }
  }

  #step-2 span {
    transform: translateY(100%);
  }

  #step-3 h4,
  #step-4 h4,
  #step-5 h4,
  #step-3 h3 span,
  #step-4 h3 span,
  #step-5 h3 span {
    transform: translateY(200%);
  }
</style>
