---
import dayjs from "dayjs";
import "dayjs/locale/es-us";
import relativeTime from "dayjs/plugin/relativeTime";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";

const PLUGINS = [relativeTime, utc, timezone];

PLUGINS.forEach((plugin) => dayjs.extend(plugin));

dayjs.locale("es-us");
dayjs.tz.setDefault("America/Montevideo");

const UPCOMING_EVENTS = [
  {
    name: "Liga Fortnite",
    timestamp: 1732575600000,
    background: "/images/torneos/liga-fortnite/banner.webp",
    logo: "/images/member-card-skins/fortnite-icon.webp",
    finished: true,
  },
];
---

<section
  id="upcoming-competitions"
  class="max-w-5xl mx-auto px-6 sm:px-10 pt-16 pb-8"
>
  <h2
    class="text-2xl uppercase font-rubik font-medium text-white tracking-wider"
  >
    Próximos torneos
  </h2>
  <p class="text-white max-w-lg mt-4">
    ¡No te pierdas los próximos torneos de la comunidad!
  </p>

  <!-- Snap scroll -->

  <div
    class="flex overflow-scroll gap-x-4 md:gap-x-8 snap-mandatory snap-x mt-8 -mr-4 pr-4 md:mr-0 md:pr-0"
  >
    {
      UPCOMING_EVENTS.map((event) => (
        <article class="flex relative snap-center bg-white/10 group rounded-lg p-4 items-center justify-center gap-2 snap-align-start">
          <div
            class="absolute inset-0 bg-black/50 bg-cover bg-center blur-md -z-10 rounded-lg group-hover:scale-105 transition-all duration-300 group-hover:saturate-200 group-hover:brightness-125"
            style={{ backgroundImage: `url(${event.background})` }}
          />
          <div class="flex flex-col w-56 md:w-72">
            <img
              src={event.logo}
              alt={event.name}
              class="h-16 w-16 rounded-full object-cover"
            />
            <h3 class="text-white text-lg font-rubik font-bold mt-2">
              {event.name}
            </h3>
            <p class="text-white text-sm font-rubik">
              {event.finished ? "Finalizado" : dayjs(event.timestamp).fromNow()}
            </p>
          </div>
        </article>
      ))
    }
  </div>
</section>
