---
import { getSession } from "auth-astro/server";
import Layout from "@/layouts/Layout.astro";
import PetApp from "@/components/pet/PetApp.tsx";

const session = await getSession(Astro.request);

if (!session) {
  return Astro.redirect("/signin?redirect=/comunidad/mascota");
}
---

<Layout title="Mascota Saltana">
  <div class="pt-20">
    <PetApp client:only="preact" />
  </div>
</Layout>
