---
import LaunchCountdown from "@/components/LaunchCountdown";
import {
  EVENT_TIMESTAMP,
  IS_VOTES_OPEN,
  nowInUruguay,
  VOTES_OPEN_TIMESTAMP,
} from "@/config";
import Layout from "@/layouts/Layout.astro";
import { currentUserVotes, getTotalVotes } from "@/utils/awards-vote-system";
import { getSession } from "auth-astro/server";
import {
  LucideArrowRight,
  LucideChevronRight,
  LucideWrench,
} from "lucide-preact";

const eventDate = new Date(EVENT_TIMESTAMP);

const session = await getSession(Astro.request);

/* 
 Son más de las 9:30 AM del 30 de Noviembre de 2024 en Uruguay?
*/

import { DateTime } from "luxon";

const targetTime = DateTime.fromMillis(Date.now())
  .setZone("America/Montevideo")
  .set({ hour: 9, minute: 30, second: 0, millisecond: 0 })
  .toMillis();

const isAfterTargetTime = nowInUruguay() > targetTime;
---

<Layout title="SaltoAwards">
  <div id="backdrop-awards" class="-mt-28 min-h-screen absolute inset-0 -z-10">
  </div>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <header
      class="relative z-10 flex flex-col items-center justify-center h-full text-center max-w-4xl mx-auto"
    >
      <div class="relative animate-fade-in-up">
        <img
          src="/images/logo_salto.webp"
          alt="SaltoUruguayServer"
          class="h-24 sm:h-32 md:h-40 w-auto object-contain aspect-square"
        />
        <img
          src="/images/logo_salto.webp"
          alt="SaltoUruguayServer"
          class="absolute blur-md transform scale-110 animate-pulsing animate-iteration-count-infinite animate-duration-[3000ms] saturate-150 z-[-1] top-0 left-0 h-24 sm:h-32 md:h-40 w-auto object-contain aspect-square"
        />
      </div>
      <h1
        class="text-4xl animate-fade-in-up animate-delay-150 font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen mt-8"
        data-astro-cid-x5yigsle=""
      >
        #SaltoAwards
      </h1>
      <h2
        class="text-xl animate-fade-in-up animate-delay-300 font-rubik tracking-wider uppercase font-medium text-white mix-blend-screen my-5 pb-10"
        data-astro-cid-x5yigsle=""
      >
        ¡La entrega de premios <span class="text-yellow-500">más esperada</span>
        del año!
      </h2>
    </header>

    {
      !IS_VOTES_OPEN() &&
        isAfterTargetTime &&
        (() => {
          return (
            <div class="flex items-center flex-col md:flex-row justify-center gap-y-2 gap-4 mb-8 italic text-lg font-rubik">
              <span class="max-w-48">
                En menos de 1 hora se abrirán las votaciones
              </span>
              <LaunchCountdown timestamp={VOTES_OPEN_TIMESTAMP} client:load />
            </div>
          );
        })()
    }

    {
      IS_VOTES_OPEN() &&
        (async () => {
          const votesAtTheMoment = await getTotalVotes();
          return (
            <div class="flex justify-center flex-col items-center mt-8 sm:w-max font-rubik px-2 sm:px-6 uppercase font-medium text-sm text-white/70 mx-auto text-center py-1.5 rounded-full bg-violet-500/20 gap-1 hover:bg-violet-500/30 transition-all duration-300 hover:scale-105">
              <span class="text-yellow-500 font-bold">
                🔥 #SaltoAwards2024 🔥
              </span>
              <span>
                <span class="text-white">{votesAtTheMoment}</span> votos hasta
                el momento
              </span>
            </div>
          );
        })()
    }

    {
      IS_VOTES_OPEN() && (
        <div class="flex flex-col items-center justify-center mt-12 mb-16">
          <h2 class="text-2xl font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen">
            ¡Votaciones abiertas!
          </h2>
          <p class="text-white text-lg font-rubik uppercase text-balance tracking-wider sm:pb-10 pb-4">
            ¿Listo para votar por tus favoritos?
          </p>
          <a
            href="/awards/vota"
            class="flex items-center justify-center gap-2 relative"
          >
            <button class="flex items-center justify-center gap-2 px-4 py-2 text-white bg-yellow-500 rounded-md uppercase tracking-wider font-bold font-rubik hover:bg-yellow-600 transition-all duration-300">
              <span>¡Vota ahora!</span>
              <LucideArrowRight
                size="24"
                class="group-hover:translate-x-1 transition-transform duration-300"
              />
            </button>
            {/* 
              Golden glow
            */}

            <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-r blur-lg from-yellow-500 to-yellow-600 rounded-md animate-pulsing animate-iteration-count-infinite animate-duration-[3000ms] saturate-150 z-[-1]" />
          </a>
        </div>
      )
    }

    {
      !IS_VOTES_OPEN() && (
        <div class="flex flex-col items-center justify-center">
          <h2 class="text-2xl font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen mt-5">
            Será un evento inolvidable...
          </h2>
          <span class="text-center text-sm font-rubik text-gray-300 mt-3">
            {eventDate.toLocaleDateString("es-UY", {
              timeZone: "America/Montevideo",
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
            <br />
            {eventDate.toLocaleTimeString("es-UY", {
              timeZone: "America/Montevideo",
              hour: "2-digit",
              minute: "numeric",
              hourCycle: "h23",
              timeZoneName: "long",
            })}
          </span>
          <LaunchCountdown timestamp={EVENT_TIMESTAMP} client:idle />
        </div>
      )
    }

    <sections
      id="casters"
      class="flex flex-col items-center justify-center h-full text-center max-w-4xl mx-auto mt-16"
    >
      <h2
        class="text-2xl font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen my-5"
      >
        ¡Conoce a los presentadores!
      </h2>
      <p
        class="text-white text-lg font-rubik uppercase text-balance tracking-wider sm:pb-10 pb-4"
      >
        <span class="text-yellow-500">#SaltoAwards</span> no sería lo mismo sin nuestros
        presentadores.<br />¡Conócelos!
      </p>
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
        <div class="flex flex-col items-center justify-center gap-2">
          <img
            src="/images/casters/salto.webp"
            alt="Salto Uruguay"
            class="w-24 h-24 rounded-full object-cover"
          />
          <h3
            class="text-lg font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen"
          >
            Salto Uruguay
          </h3>
        </div>
        <div class="flex flex-col items-center justify-center gap-2">
          <img
            src="/images/casters/julianmartin.webp"
            alt="Julian Martin"
            class="w-24 h-24 rounded-full object-cover"
          />
          <h3
            class="text-lg font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen"
          >
            Julian Martin
          </h3>
        </div>
      </div>
    </sections>
  </div>
</Layout>

<style>
  #backdrop-awards {
    background-image: url("/images/awards-fondo.webp");
    @apply saturate-150 opacity-55;
    mask-image: linear-gradient(
      black 0%,
      rgba(0, 0, 0, 0.5) 30%,
      rgba(0, 0, 0, 0.1) 50%,
      transparent
    );
    background-size: cover;
    background-position: center;
  }
</style>

<script>
  import { $ } from "@/lib/dom-selector";
  import { showSignInDialog } from "@/lib/utils";

  document.addEventListener("astro:page-load", () => {
    const $viewNominees = $("div[data-login-on-click]");
    if ($viewNominees) {
      $viewNominees.addEventListener("click", (e) => {
        showSignInDialog();
      });
    }
  });
</script>
