---
import { CATEGORIES } from "@/awards/Categories";
import VotesSummary from "@/components/VotesSummary.astro";
import { VoteSystem } from "@/components/VoteSystem";
import { IS_VOTES_OPEN, nowInUruguay, VOTES_OPEN_TIMESTAMP } from "@/config";
import Layout from "@/layouts/Layout.astro";
import { currentUserVotes } from "@/utils/awards-vote-system";
import { getSession } from "auth-astro/server";
import TwitchIcon from "@/icons/Twitch.astro";
import LaunchCountdown from "@/components/LaunchCountdown";

const session = await getSession(Astro.request);

let votes: Awaited<ReturnType<typeof currentUserVotes>> = null;

if (session?.user) {
  votes = await currentUserVotes(session.user.id);
}
---

<Layout title="Votación" customId="awards-voting-layout">
  <div
    class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16"
    id="awards-voting-page"
  >
    <header
      class="relative z-10 flex flex-col items-center justify-center h-full max-w-4xl mx-auto"
    >
      <div class="flex flex-col items-center justify-center gap-y-4">
        <div
          class="relative animate-fade-in-up"
          style="--floating-duration: 5000ms"
        >
          <img
            src="/images/trofeo-awards.webp"
            alt="Trofeo SaltoAwards"
            class="size-28 md:size-24 w-auto object-contain aspect-square animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)] saturate-150"
          />
          <img
            src="/images/trofeo-awards.webp"
            alt=""
            aria-hidden="true"
            class="absolute blur-md brightness-125 saturate-200 inset-0 size-28 md:size-24 w-auto object-contain aspect-square z-[-1] animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)]"
          />
        </div>
        <h1
          class="text-3xl animate-fade-in-up animate-delay-150 font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen"
        >
          #SaltoAwards2025
        </h1>
      </div>

      <h2
        class="text-xl animate-fade-in-up animate-delay-300 font-rubik uppercase text-white mix-blend-screen mt-2 mb-5 pb-10"
      >
        Elige a tus favoritos
      </h2>
    </header>

    <main class="flex flex-col items-center justify-center h-full">
      {
        !IS_VOTES_OPEN() ? (
          // Mostrar cuenta regresiva si las votaciones están cerradas
          <div class="flex flex-col items-center justify-center h-full">
            <h2 class="text-2xl font-rubik font-bold text-white uppercase tracking-wider">
              ¡Votación cerrada!
            </h2>
            <p class="text-white text-center font-rubik font-medium tracking-wider mt-4 max-w-2xl text-lg">
              Los ganadores de esta edición de los{" "}
              <span class="text-yellow-500">SaltoAwards</span> se darán a
              conocer en la ceremonia de premiación.
            </p>

            {session && votes && <VotesSummary votes={votes} />}
          </div>
        ) : session ? (
          votes ? (
            // Mostrar resumen si el usuario ya votó
            <>
              <div class="flex flex-col items-center justify-center h-full">
                <h2 class="text-2xl font-rubik font-bold text-white uppercase tracking-wider">
                  ¡Ya has votado!
                </h2>
                <p class="text-white text-center font-rubik font-medium tracking-wider mt-4 max-w-2xl text-lg">
                  ¡Gracias por participar en los{" "}
                  <span class="text-yellow-500">SaltoAwards</span>! Los
                  ganadores se darán a conocer en la ceremonia de premiación.
                </p>
              </div>
              <VotesSummary votes={votes} />
            </>
          ) : (
            // Mostrar formulario de votación si el usuario no ha votado
            <VoteSystem
              categories={CATEGORIES}
              user={session.user}
              client:load
            />
          )
        ) : (
          // Mostrar mensaje de inicio de sesión si el usuario no está autenticado
          <div class="flex flex-col items-center justify-center gap-y-4 h-full">
            <h2 class="text-xl font-rubik font-bold text-white uppercase tracking-wider">
              Por favor, inicia sesión para votar.
            </h2>
            <button
              id="awards-login"
              class=" bg-electric-violet-600 text-white font-rubik font-medium uppercase tracking-wider py-2 px-4 rounded-md hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:ring-opacity-50"
            >
              <TwitchIcon class="w-6 h-6 mr-2 inline-block" />
              Iniciar sesión
            </button>
          </div>
        )
      }
    </main>
  </div>
</Layout>

<script>
  import { $ } from "@/lib/dom-selector";
  import { showSignInDialog } from "@/lib/utils";

  document.addEventListener("astro:page-load", () => {
    const $awardsLogin = $("#awards-login");

    const $body = document.body;
    $body.classList.add("revealed");

    $awardsLogin?.addEventListener("click", () => {
      showSignInDialog();
    });
  });
</script>
