---
import { AwardsOverlay } from "@/components/Overlay/AwardsOverlay";
import "@/assets/styles/global.css";
// Load fonts via @fontsource or Astro Integrations in global
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Awards Overlay</title>
    </head>
    <body class="bg-transparent overflow-hidden">
        <AwardsOverlay client:only="react" />
    </body>
</html>

<style is:global>
    @font-face {
        font-family: "Cinzel";
        src:
            url("/fonts/Cinzel-VariableFont_wght.woff2") format("woff2"),
            url("/fonts/Cinzel-VariableFont_wght.woff") format("woff");
        font-weight: 400 900;
        font-style: normal;
        font-display: swap;
    }
    /* Ensure transparent background for OBS */
    html,
    body {
        background-color: transparent !important;
    }

    .font-cinzel {
        font-family: "Cinzel", serif;
    }
</style>
