@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones */
@keyframes slide {
  0% {
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(0);
  }
}

@keyframes opacity {
  0% {
    opacity: 0.4;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.01);
  }

  to {
    transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }

  to {
    transform: scale(1.01);
  }
}

/* Utilidades */
@layer utilities {
  .border-line {
    @apply border-blue-500/20;
  }
}

/* Clases personalizadas */
.slider-border {
  overflow: hidden;
  position: relative;
  /* Esto es necesario para los pseudo-elementos */
}

.slider-border:before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  left: 0;
  top: 0;
  z-index: -10;
  background: linear-gradient(-90deg,
      transparent 50%,
      rgba(152, 179, 255, 0.5) 50%);
  animation: slide var(--slider-timeout, 5s) linear;
  transform: translate(-50%, -50%);
}

[class*="slide-zoom-animation-"] {
  opacity: 0.8;
}

.slide-zoom-animation-zoom-out {
  transform: scale(1.01);
  animation: zoomOut 1s cubic-bezier(0.4, 0, 0.2, 1) forwards,
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.slide-zoom-animation-zoom-in {
  transform: scale(1);
  animation: zoomIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards,
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.scrollbar-hide {

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



@layer base {
  :root {
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
  
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


