---
import Layout from "@/layouts/Layout.astro";
import { checkAdmin } from "@/lib/checkAdmin";
import { getSession } from "auth-astro/server";
import { SALTO_BROADCASTER_ID } from "@/config";
import { GameSelector } from "@/components/admin/streamer-wars/GameSelector";
import { StreamerWarsPlayers } from "@/components/admin/streamer-wars/Players";
import { StreamerWarsAdmin } from "@/components/admin/StreamerWarsAdmin";

const PRELOAD = [
  {
    href: "/fonts/set-sail-studios-atomic-marker-regular.woff2",
    as: "font",
    type: "font/woff2",
    crossorigin: "anonymous",
  },
];

const session = await getSession(Astro.request);

// Si la función `checkAdmin` retorna un `Response`, deberías manejarlo explícitamente:
const checkResult = await checkAdmin(session);
if (checkResult) {
  // Manejar la respuesta retornada (404 en este caso).
  return checkResult;
}
---

<Layout title="Admin Guerra Streamers" preload={PRELOAD}>
  <div class="flex flex-col max-w-5xl mx-auto min-h-screen mt-16">
    <header class="relative z-10 flex flex-col justify-center h-full">
      <div class="flex items-center gap-x-4">
        <div
          class="relative animate-fade-in-up"
          style="--floating-duration: 5000ms"
        >
          <img
            src="/images/logo_salto.webp"
            alt="SaltoUruguayServer"
            class="size-20 md:size-24 w-auto object-contain aspect-square animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)] saturate-150"
          />
          <img
            src="/images/logo_salto.webp"
            alt="SaltoUruguayServer"
            class="absolute blur-md brightness-125 saturate-200 inset-0 size-20 md:size-24 w-auto object-contain aspect-square z-[-1] animate-sink animate-iteration-count-infinite animate-duration-[var(--floating-duration)]"
          />
        </div>
        <h1
          class="text-3xl animate-fade-in-up animate-delay-150 font-rubik tracking-wider uppercase font-bold text-white mix-blend-screen"
        >
          Guerra de Streamers
        </h1>
      </div>

      <h2
        class="text-lg animate-fade-in-up animate-delay-300 font-rubik uppercase text-white mix-blend-screen my-5 sm:pb-10"
      >
        Hola, <span class="text-blue-400">{session?.user.name}</span>!
      </h2>
    </header>

    <GameSelector client:idle />

    <StreamerWarsAdmin client:idle />
  </div>
</Layout>
